.badge-category__wrapper {
  --badge-category-padding-v: 0.15em;
  --badge-category-padding-h: 0.33em;

  .badge-category {
    display: flex;
    gap: var(--badge-category-padding-h);

    // reset core styles
    &.--style-square::before,
    &.--style-icon::before,
    &.--style-emoji::before {
      margin-right: 0;
      height: unset;
      display: none;
    }

    .d-icon {
      margin: 0;
    }
  }

  @if $category-badge-style == "box" {
    .badge-category {
      background: var(--category-badge-color);
      padding: var(--badge-category-padding-v) var(--badge-category-padding-h);
      color: var(
        --category-badge-text-color
      ) !important; // overrides specific core styles

      .d-icon {
        color: currentcolor;
      }
    }

    .--style-square.--has-parent {
      padding-left: calc(var(--badge-category-padding-h) * 2);

      &::before {
        content: "";
        display: flex;
        background: var(--parent-category-badge-color);
        width: var(--badge-category-padding-h);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
      }
    }

    // for core and category icons component
    .--style-icon .d-icon, 
    .badge-category__icon {
      color: var(--category-badge-text-color) !important;
    }
  }

  @if $category-badge-style == "bar" {
    .badge-category {
      color: var(--primary-high);

      .d-icon {
        color: var(--primary-medium);
      }

      &.--style-square::before,
      &.--style-icon::before, 
      &.--style-emoji::before {
        content: "";
        display: flex;
        width: var(--badge-category-padding-h);
        align-self: stretch;
        background: var(--category-badge-color);
      }

      &.--has-parent {
        &.--style-square::before {
          background: linear-gradient(
            90deg,
            var(--parent-category-badge-color) 50%,
            var(--category-badge-color) 50%
          );
          width: calc(var(--badge-category-padding-h) * 2);
        }
      }
    }
  }

  @if $category-badge-style == "none" {
    &::before {
      display: none;
    }
    
    .badge-category.--style-icon .d-icon,
    .badge-category.--style-emoji .emoji {
      display: none;
    }
  }
}

// Some special styles for box

@if $category-badge-style == "box" {
  #reply-control .category-input + .mini-tag-chooser {
    align-self: stretch;
  }

  .list-controls .category-breadcrumb .combo-box .combo-box-header {
    background: var(--category-badge-color);
    color: var(--category-badge-text-color);
    border-color: var(--category-badge-color);
    padding-top: 0;
    padding-bottom: 0;
  }

  .category-list .subcategories {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;

    .subcategory {
      margin: 0;
    }
  }

  .latest-topic-list-item .main-link .bottom-row {
    align-items: baseline;
  }
}
