.badge-category__wrapper {
  --badge-category-padding-v: 0.15em;
  --badge-category-padding-h: 0.33em;

  .badge-category {
    display: flex;
    gap: var(--badge-category-padding-h);
    // reset core styles

    &:before {
      display: flex;
      margin-right: 0;
      height: unset;
      display: none;
    }
    .d-icon {
      margin: 0;
    }
  }

  @if $category-badge-style == "box" {
    .badge-category {
      background: var(--category-badge-color);
      padding: var(--badge-category-padding-v) var(--badge-category-padding-h);
      color: var(
        --category-badge-text-color
      ) !important; // overrides specific core styles
      .d-icon {
        color: currentColor;
      }
    }

    .--has-parent {
      padding-left: calc(var(--badge-category-padding-h) * 2);
      &:before {
        content: "";
        display: flex;
        background: var(--parent-category-badge-color);
        width: calc(var(--badge-category-padding-h) * 2);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
      }
    }

    // for the category icons component
    .badge-category__icon {
      color: var(--category-badge-text-color);
    }
  }

  @if $category-badge-style == "bar" {
    .badge-category {
      color: var(--primary-high);
      .d-icon {
        color: var(--primary-medium);
      }
      &:before {
        content: "";
        display: flex;
        width: var(--badge-category-padding-h);
        align-self: stretch;
        background: var(--category-badge-color);
      }
      &.--has-parent {
        &:before {
          background: linear-gradient(
            90deg,
            var(--parent-category-badge-color) 50%,
            var(--category-badge-color) 50%
          );
          width: calc(var(--badge-category-padding-h) * 2);
        }
      }
    }
  }

  @if $category-badge-style == "none" {
    &:before {
      display: none;
    }
  }
}

// Some special category breadcrumb styles for box

@if $category-badge-style == "box" {
  .list-controls .category-breadcrumb .combo-box .combo-box-header {
    background: var(--category-badge-color);
    color: var(--category-badge-text-color);
    border-color: var(--category-badge-color);
    padding-top: 0;
    padding-bottom: 0;
  }
}
